.home-sidenav{
  position: fixed;
  top: auto;
  height: fit-content;
  margin-bottom: 2rem;
  width: 20%;
}

[id^="btn"]{
  // font-weight: 600;
  font-size: 14px;
}
.active {
  background-color: #1565c0;
  color: #fff;
}

.divider{
  width: 100%;
  height: 1.5px;
  background-color: #0000001b;
  margin-block: 5px;
  border-radius: 5px;
}


