
mat-card-header {
  margin-bottom: 1rem;
}

mat-form-field{
  margin-bottom: .5em;
}

.btn {
  margin-top: .5rem;
}



.error-container{
  margin-bottom: 1rem;
  font-size: 12px;
  font-weight: 500;
}
