<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <span fxFlex="15"></span>

  <mat-card [ngClass.gt-xs]="['card']" class="mat-elevation-z10">
    <mat-card-header fxLayout="column" fxLayoutAlign="start center">
      <mat-card-title> Recover Your password </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="forgotPasswordForm"
        fxLayout="column"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" autofocus />
        </mat-form-field>

        <div class="btn-group" fxLayout="column" fxLayoutGap=".5em">
          <button type="submit" mat-flat-button color="primary">
            Send Recovery Email
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
