<div fxLayout="column" class="header-container">
  <div
    class="app-header"
    fxLayout="row"
    fxLayoutAlign="space-between"
    ngClass.xs="padding-sm"
  >
    <div class="logo" fxFlexAlign="end"><span>Event</span>Hub</div>

    <div
      fxFlexAlign="center"
      fxHide.xs
      fxHide.sm
      fxShow.gt-xs
      style="width: 100%; max-width: 450px"
      *ngIf="isAuthenticated$ | async"
    >
      <mat-card
        class="mat-elevation-z5 search-wrapper"
        title="search"
      >
        <form
          fxLayout="row"
          fxLayoutAlign="space-between center"
          [formGroup]="searchForm"
        >
          <mat-select value="event" formControlName="searchCategory">
            <mat-option value="event" title="Event"
              ><mat-icon fontIcon="event"></mat-icon> Event</mat-option
            >
            <mat-option value="artist" title="Artist">
              <mat-icon fontIcon="person"></mat-icon> Artist</mat-option
            >
          </mat-select>
          <input
            matInput
            class="search"
            type="search"
            formControlName="search"
          />
          <button mat-icon-button class="mat-elevation-z0">
            <mat-icon fontIcon="search" matSuffix></mat-icon>
          </button>
        </form>
      </mat-card>

      <mat-card
        [fxShow]="!!(searchResult$ |async)"
        class="mat-elevation-z0 search-result"
      >
      </mat-card>
    </div>
    <div
      class="app-header-right"
      fxLayout="row"
      fxFlexAlign="center"
      ngStyle.xs="margin-left:.8em"
      ngStyle.gt-xs="margin-left:2em"
      *ngIf="isAuthenticated$ | async"
    >

      <button type="button" class="notifications btn">
        <mat-icon
          matBadge="{{ notificationsCount }}"
          matBadgeOverlap="true"
          matBadgeSize="small"
          matBadgePosition="before"
          fontIcon="notifications"
          title="notifications"
        ></mat-icon>
      </button>

      <button
        mat-card-avatar
        mat-mini-fab
        color="primary"
        type="button"
        title="profile"
        class="profile btn"
        [matMenuTriggerFor]="menu"
      >
        {{ avatarName }}
      </button>
      <mat-menu #menu="matMenu" class="profile-menu">
        <button mat-menu-item [routerLink]="['users',userId$ |async, 'events-I-attend']">
          {{ userName$ | async | camelCase }}
        </button>

        <button
          mat-menu-item
          title="Create Artist Page"
          routerLink="artists/0/add"
          *ngIf="!(isHaveAPage$ | async) && (userRole$ | async) === 'Producer'"
        >
          My Artist Page
        </button>

        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </div>

    <div
      class="app-header-right"
      fxFlexAlign="center"
      *ngIf="!(isAuthenticated$ | async)"
    >
      <button
        mat-flat-button
        color="primary"
        class="btn"
        [routerLink]="['/users/login']"
        style="padding-inline: 2.5rem; padding-block: 0.15rem; font-size: 16px"
        ngStyle.xs="padding-inline:1.5rem"
      >
        Log In
      </button>
      <button
        mat-flat-button
        color="accent"
        class="btn signUp-btn"
        [routerLink]="['users/signup']"
        fxHide.xs
        style="padding-inline: 2.5rem; padding-block: 0.15rem; font-size: 16px"
      >
        Sign Up
      </button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign=" center center" style="padding: 1em">
    <mat-card
      class="mat-elevation-z0 search-wrapper-xs"
      fxShow.gt-xs="false"
      fxShow.sm
      fxShow.xs
      *ngIf="isAuthenticated$ | async"
    >
      <form
        [formGroup]="searchForm"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        [formGroup]="searchForm"
      >
        <mat-select value="event" formControlName="searchCategory">
          <mat-option value="event" title="Event"
            ><mat-icon fontIcon="event"></mat-icon> Event</mat-option
          >
          <mat-option value="org" title="organization">
            <mat-icon fontIcon="business"></mat-icon> Org</mat-option
          >
          <mat-option value="artist" title="Artist">
            <mat-icon fontIcon="person"></mat-icon> Artist</mat-option
          >
        </mat-select>
        <input matInput class="search" type="search" formControlName="search" />
        <mat-icon fontIcon="search" matSuffix></mat-icon>
      </form>
    </mat-card>
  </div>
  <span fxFlex.gt-xs="2rem"></span>
</div>
