<div fxLayout="column" class="header-container">
  <div
    class="app-header"
    fxLayout="row"
    fxLayoutAlign="space-between"
    ngClass.xs="padding-sm"
  >
    <div class="logo" fxFlexAlign="center">
      <a routerLink="/"><span>Event</span>Hub</a>
    </div>

    <div
    id="search-container"
    class="search-container"
      *ngIf="isAuthenticated$ | async"
    >
      <mat-card
        id="#search-wrapper"
        class="mat-elevation-z5 search-wrapper"
        title="search"
      >
        <form
        class="form"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          [formGroup]="searchForm"
        >
          <mat-select value="event" formControlName="searchCategory">
            <mat-option value="event" title="Event"
              ><mat-icon fontIcon="event"></mat-icon> Event</mat-option
            >
            <mat-option value="artist" title="Artist">
              <mat-icon fontIcon="person"></mat-icon> Artist</mat-option
            >
          </mat-select>
          <input
            matInput
            class="search"
            type="search"
            formControlName="search"
            (input)="showClearBtn()"


          />
        </form>
        <mat-icon fontIcon="search" id="search-icon" matSuffix></mat-icon>
      </mat-card>

      <div class="search-result-container">
        <mat-card
        fxFlexAlign="center"
          *ngIf="searchResult$ | async as results"
          class="mat-elevation-z0 search-result"
        >
          <p fxLayoutAlign="center" *ngIf="results.length === 0" >
            We couldn't find any results that match your search
          </p>

          <div *ngFor="let result of results">
            <a *ngIf="result.entity?.EventId" [routerLink]="['/artists',
            result.entity?.Producer?.producerId,
            { outlets: { secondary: ['events', result.id] } }]">
             {{result.entity.Name | camelCase}}</a>

            <a *ngIf="result.entity.ProducerId" [routerLink]="['/artists',result.id]">
              {{(result.entity.FirstName + " " + result.entity.LastName) | camelCase}}
            </a>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="search-btn-wrapper" *ngIf="isAuthenticated$ | async">
      <button
        #searchBtnXS
        mat-icon-button
        class="search-btn-xs"
        (click)="showSearch()"
      >
        <mat-icon fontIcon="search" class="search-icon-xs" matSuffix></mat-icon>
      </button>
    </div>

    <div
      class="app-header-right"
      fxLayout="row"
      fxFlexAlign="center"
      Style="margin-left:2em"
      *ngIf="isAuthenticated$ | async"
    >
      <button type="button" class="btn">
        <mat-icon
          matBadge="{{ notificationsCount$ | async }}"
          matBadgeOverlap="true"
          matBadgeSize="small"
          matBadgePosition="before"
          fontIcon="notifications"
          title="notifications"
          (click)="toggleNotifications()"
        ></mat-icon>
      </button>
      <ng-container  *ngTemplateOutlet="notificationTemplate"></ng-container>

      <button
        mat-card-avatar
        mat-mini-fab
        color="primary"
        type="button"
        title="profile"
        class="profile btn"
        [matMenuTriggerFor]="menu"
      >
        {{ avatarName }}
      </button>
      <mat-menu #menu="matMenu" class="profile-menu">
        <button
          mat-menu-item
          [routerLink]="['users', userId$ | async, 'events-I-attend']"
        >
          {{ userName$ | async | camelCase }}
        </button>

        <button
          mat-menu-item
          title="Create Artist Page"
          routerLink="artists/0/add"
          *ngIf="!(isHaveAPage$ | async) && (userRole$ | async) === 'Producer'"
        >
          My Artist Page
        </button>

        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </div>

    <div
      class="app-header-right"
      fxFlexAlign="center"
      *ngIf="!(isAuthenticated$ | async)"
    >
      <button
        mat-flat-button
        color="primary"
        class="btn"
        [routerLink]="['/users/login']"
        style="padding-inline: 2.5rem; padding-block: 0.15rem; font-size: 16px"
        ngStyle.xs="padding-inline:1.5rem"
      >
        Log In
      </button>
      <button
        mat-flat-button
        color="accent"
        class="btn signUp-btn"
        [routerLink]="['users/signup']"
        fxHide.xs
        style="padding-inline: 2.5rem; padding-block: 0.15rem; font-size: 16px"
      >
        Sign Up
      </button>
    </div>
  </div>


/*notification template*/
  <ng-template #notificationTemplate>
    <mat-card class="mat-elevation-z0 card notification" *ngIf="toggleNotification$ |async">
      <button mat-icon-button color="none" class="close-btn" (click)="toggleNotifications()"><mat-icon fontIcon="close" class="icon"></mat-icon></button>
      <p class="default-message" *ngIf="(currentDayEvents$ | async)?.length === 0">You Don't Have Any Event Today.</p>
      <div class="notification-card" *ngFor="let event of currentDayEvents$ | async">
        <h2 class="notification-title">
          {{ event.entity?.Date | date : "hh:mm aa" }}
        </h2>
        <p class="notification-message">
          You have to attend
          <a
            [routerLink]="[
              '/artists',
              event.entity?.Producer?.producerId,
              { outlets: { secondary: ['events', event.id] } }
            ]"
            >{{ event.entity?.Name }}</a
          >
          Today.
        </p>
      </div>
    </mat-card>
  </ng-template>
