.container {
  width: 100%;
  height: fit-content;
  padding-block: 3rem;
  position: relative;
}

.container-gt-sm {
  padding: 2rem;
  position: relative;
}

.container-xs {
  padding: 1rem;
}

.container-sm {
  padding: 2rem;
}

.toggle-btn {
  padding: 12px 30px;
  background-color: #1565c0;
  border: none;
  color: #fff;
  font-weight: 900;
  width: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  right: 34px;

  &:hover {
    position: relative;
    right: 20px;
  }
}

mat-card {
  height: fit-content;
}

.sidenav-container-xs,
.sidenav-xs {
  background-color: #fff;
  width: 90%;
  height: 100%;
}

.sidenav-container-xs {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1000;
  padding: 1em;
  transition: left 0.6s ease-in-out;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  -ms-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;

  .close-btn {
    float: right;
  }
}

.active {
  background-color: #1565c0;
  color: #fff;
}

.sidenav-container_show {
  position: absolute;
  left: 0;
}

.sidenav {
  .sidenav-content {
    margin-block-start: 3rem;
  }
}

.sidenav-container-gt-xs {
  height: fit-content;
  position: sticky;
  top: 10px;

  button {
    margin-block: 1px;
    font-size: 15px;

    &:hover {
      background-color: #1565c0;
      color: #fff;
    }
  }
}
