
  <mat-card class="mat-elevation-z0" fxFlex="100%">

   <div class="header" fxLayout.gt-xs="row" fxLayoutAlign="space-between end">
     <mat-card-header>
      <img mat-card-avatar>
      <mat-card-title>
        Artist_Name
      </mat-card-title>
      <mat-card-subtitle>
        Job_Title
      </mat-card-subtitle>
     </mat-card-header>

      <button mat-flat-button color="primary">Follow</button>

   </div>

   <mat-card-content>
    <div class="bio">
      <p class="about">About Me</p>
      <p class="about-details"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eos doloribus voluptatibus officia quod eius, temporibus sit, cumque facere quibusdam maiores, voluptatem tenetur sapiente? Iusto expedita delectus omnis dicta consequatur dolorum ut fugit facilis officia, exercitationem aut blanditiis, nam esse, reprehenderit consectetur. Vero dolore minima ipsum eveniet necessitatibus rem hic.</p>
    </div>

    <div class="info">
      <p class="more-info">More Info</p>

      <div fxLayout="row" fxLayoutGap="1em">
          <mat-icon fontIcon="location_city" color="warn" class="info-title"></mat-icon>
        <p>Egypt</p>
      </div>

      <div fxLayout="row" fxLayoutGap="1em">
          <mat-icon class="info-title" fontIcon="emoji_emotions" color="warn"></mat-icon>
        <p>Male</p>
      </div>
    </div>


    <address class="contact-info">
      <p>Contact Info</p>
      <div fxLayout="row" fxLayoutGap="1em">
        <p class="contact-title">
          <mat-icon fontIcon="mail_outline" color="warn"></mat-icon>
        </p>
        <p>ah.at.elnemrawi@gmail.com</p>
      </div>
      <div fxLayout="row" fxLayoutGap="1em">
        <p class="contact-title">
          <mat-icon fontIcon="phone_enabled" color="warn"></mat-icon>
        </p>
        <p>+201093665958</p>
      </div>
    </address>

   </mat-card-content>



  </mat-card>

