a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:visited,
  &:active{
    color:inherit
  }
}



.container{
  width: 100%;
  height: 100%;

}

.card {
  width: 450px;
  height: fit-content;
  margin: 0 auto;

}

mat-card {
  min-width: 300px;
  padding: 2.5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0 2rem;
}

mat-card-header {
  margin-bottom: 1em;
}

mat-form-field{
  margin-bottom:.5em ;
}


.forgot-password {
  display: block;
  line-height: 0.5;
  font-size: 12px;
  font-weight: 500;
}

.btn-group {
  margin-top: .5rem;
}

.btn-group>button {
  margin: 0 2.5rem;
}
