<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <span fxFlex="15"></span>

  <mat-card [ngClass.gt-xs]="['card']" class="mat-elevation-z10">
    <mat-card-header fxLayout="column" fxLayoutAlign="start center">
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form
        action="POST"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        fxLayout="column"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Ex. me@example.com"
            autofocus
          />
          <mat-error *ngIf="errorMessage$ | async as errorMessage">{{
            errorMessage["email"]
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="errorMessage$ | async as errorMessage">{{
            errorMessage["password"]
          }}</mat-error>
        </mat-form-field>

        <mat-card-subtitle fxFlexAlign="end">
          <a
            [routerLink]="['/users/account-recovery']"
            class="forgot-password"
            >Forgot password?</a
          >
        </mat-card-subtitle>

        <mat-error
          fxFlexAlign="center"
          *ngIf="errorMessage$ | async as errorMessage"
          >{{ errorMessage["badRequest"] }}</mat-error
        >
        <div class="btn-group" fxLayout="column" fxLayoutGap=".5em">
          <button type="submit" mat-flat-button color="primary">Login</button>
          <button mat-flat-button [routerLink]="['/users/signup']" color="accent">Sign up</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
