<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <span fxFlex="10rem"></span>

  <mat-card [ngClass.gt-xs]="['card']" class="mat-elevation-z10">
    <mat-card-header fxLayout="column" fxLayoutAlign="start center">
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" fxLayout="column">
        <mat-error
          class="backend-error"
          fxFlexAlign="center"
          *ngIf="backendErrors$ | async as error"
          >{{ error }}</mat-error
        >
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Ex. me@example.com"
            autofocus
          />
          <mat-error class="error" *ngIf="errorMessages">{{
            errorMessages["email"]
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />

          <button
            class="hide-button"
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error class="error" *ngIf="errorMessages">{{
            errorMessages["password"]
          }}</mat-error>
        </mat-form-field>

        <mat-card-subtitle fxFlexAlign="end">
          <a [routerLink]="['/users/account-recovery']" class="forgot-password"
            >Forgot password?</a
          >
        </mat-card-subtitle>

        <div class="btn-group" fxLayout="column" fxLayoutGap=".5rem">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            class="btn"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>

          <button
            mat-flat-button
            [routerLink]="['/users/signup']"
            color="accent"
            class="btn"
          >
            Sign up
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
