@use "@angular/material" as mat;

@include mat.core();

$EventHub-primary: mat.define-palette(mat.$blue-palette, 800);
$EventHub-accent: mat.define-palette(mat.$blue-grey-palette, A100, A200, A400);

$EventHub-warn: mat.define-palette(mat.$red-palette, A100, A200, A400);



$EventHub-theme: mat.define-light-theme(
  (
    color: (
      primary: $EventHub-primary,
      accent: $EventHub-accent,
      warn: $EventHub-warn,
    ),
  )
);

$EventHub-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $EventHub-primary,
      accent: $EventHub-accent,
      warn: $EventHub-warn,
    ),
  )
);

@include mat.all-component-themes($EventHub-theme);

/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}

:root{
  .error {
    color: #1565c0;
    font-weight: 500;
  }

  .backend-error{
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
  }
}

html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f6fd;

}




